input[type="file"] {
    display:none;
}

.custom-file-upload {
    display: inline;
    cursor: pointer;
}

.custom-file-upload > span {
    display: block;
    float:left;
    padding-left: 8px;
    padding-top: 5px;
}

.custom-file-upload > strong {
    display: inline-block;
    float:left;
}

.mono-font {
    font-family: Consolas, Lucida Console, monospace;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all;
}

.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
    border: none;
}

ul#sortableReactantList > li {
    cursor: grab;
}

canvas#myChart {
    width: 100% !important;
    height: auto !important;
}
