<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <context-param>
        <param-name>upload.location</param-name>
        <param-value>X:/uploads</param-value>
    </context-param>

    <context-param>
        <param-name>obfit.executable</param-name>
        <param-value>obfit</param-value>
    </context-param>

    <context-param>
        <param-name>mol3d.executable</param-name>
        <param-value>C:\Program files (x86)\moloc\bin\mol3d</param-value>
    </context-param>

    <servlet>
        <servlet-name>ApplicationServlet</servlet-name>
        <servlet-class>nl.bioinf.cawarmerdam.compound_evolver.servlets.ApplicationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ApplicationServlet</servlet-name>
        <url-pattern>/app</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EvolveServlet</servlet-name>
        <servlet-class>nl.bioinf.cawarmerdam.compound_evolver.servlets.EvolveServlet</servlet-class>
        <init-param>
            <param-name>dummy.fitness</param-name>
            <param-value>1</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>EvolveServlet</servlet-name>
        <url-pattern>/evolve.do</url-pattern>
    </servlet-mapping>

</web-app>