<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <session-config>
        <session-timeout>43800</session-timeout>
    </session-config>

    <servlet>
        <servlet-name>ApplicationServlet</servlet-name>
        <servlet-class>nl.bioinf.cawarmerdam.compound_evolver.servlets.ApplicationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ApplicationServlet</servlet-name>
        <url-pattern>/app</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ProgressUpdateServlet</servlet-name>
        <servlet-class>nl.bioinf.cawarmerdam.compound_evolver.servlets.ProgressUpdateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProgressUpdateServlet</servlet-name>
        <url-pattern>/progress.update</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DownloadZippedCompoundServlet</servlet-name>
        <servlet-class>nl.bioinf.cawarmerdam.compound_evolver.servlets.DownloadZippedCompoundServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DownloadZippedCompoundServlet</servlet-name>
        <url-pattern>/compound.download</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DownloadMultiSdfServlet</servlet-name>
        <servlet-class>nl.bioinf.cawarmerdam.compound_evolver.servlets.DownloadMultiSdfServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DownloadMultiSdfServlet</servlet-name>
        <url-pattern>/multi-sdf.download</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DownloadCsvServlet</servlet-name>
        <servlet-class>nl.bioinf.cawarmerdam.compound_evolver.servlets.DownloadCsvServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DownloadCsvServlet</servlet-name>
        <url-pattern>/csv.download</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>TerminateEvolutionServlet</servlet-name>
        <servlet-class>nl.bioinf.cawarmerdam.compound_evolver.servlets.TerminateEvolutionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TerminateEvolutionServlet</servlet-name>
        <url-pattern>/evolution.terminate</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EvolveServlet</servlet-name>
        <servlet-class>nl.bioinf.cawarmerdam.compound_evolver.servlets.EvolveServlet</servlet-class>
        <init-param>
            <param-name>dummy.fitness</param-name>
            <param-value>0</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>EvolveServlet</servlet-name>
        <url-pattern>/evolve.do</url-pattern>
    </servlet-mapping>

</web-app>